<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teacher Directory</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container p-3 my-3 border">
  <h1>Django Teacher Directory</h1>
  <p>Navigation urls</p>
    <div class="row">
      <div class="col bg-success"><a href="{%url 'index'%}" class="btn btn-primary">Login</a></div>
    <div class="col bg-success"><a href="{%url 'TeacherDirectoryForm'%}" class="btn btn-primary">Directory</a></div>
  </div>
</div>
{%block contents%}
{%endblock%}
</body>
</html>
