{%extends 'base.html'%}

{%block contents%}

<div class="container p-3 my-3 bg-dark text-white">
  <h1>Login To Check Teacher Profile</h1>
<span>
  Login id: <font color="red">admin</font><br/>
  password: <font color="red">admin</font><br/>
</span>
  <form action="{%url 'LoginCheck'%}" method="post">
      {%csrf_token%}
  <div class="form-group">
    <label for="user">Username:</label>
    <input type="user" class="form-control" name="username" placeholder="Enter User name" id="user">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Enter password" id="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% if messages %}
     {% for message in messages %}
       <font color='GREEN'> {{ message }}</font>
     {% endfor %}
  {% endif %}
</div>
{%endblock%}